<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuarios</title>
</head>
<body>
    <h1>Gestión de Usuarios</h1>

    <h2>Crear Usuario</h2>
    <form id="createUserForm">
        <input type="text" id="createUserName" placeholder="Nombre" required>
        <input type="email" id="createUserEmail" placeholder="Email" required>
        <button type="submit">Crear Usuario</button>
    </form>

    <h2>Usuarios</h2>
    <ul id="usersList">
        <% users.forEach(user => { %>
          <li><%= user.name %> - <%= user.email %></li>
        <% }); %>
    </ul>
     
    
    <script src="/js/client.js"></script>
</body>
</html>
